fastapi

uvicorn

motor

pydantic

pydantic-settings

python-jose[cryptography]

passlib[bcrypt]

python-multipart

easyocr

rapidocr-onnxruntime

opencv-python-headless

sentence-transformers

faiss-cpu

langgraph

openai

httpx

google-generativeai

python-docx

PyPDF2

reportlab

pandas

celery

redis

torch

torchvision

pymongo

python-dotenv

axios

pdfplumber

pymupdf

